body {
	background-color: #fafafa;
}

.tile {
	min-height: 200px;
	padding: 20px;
	border-radius: 20px;
}

.is-thin {
	min-height: 100px;
	border-radius: 50px
}

.border {
	border-style: solid;
	border-width: 3px;
	border-color: black;
}

.hack-notification {
	border-radius: 20px;
	min-height: 3em;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-color: white;
	-webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}

.bordered-title {
	color: white;
	font-color: white;
	-webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}

.notification {
	border-radius: 20px;
	min-height: 3em;
}

.black-text {
	font-color: black;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.index-bordered {
	background-color: #8c8c8c;
    border-radius: 20px;
}

.index-hack-border {
	border-color: #8c8c8c;
	border-style: solid;
	border-width: 0px 10px;
}

.bordered {
	background-color: #e8e8e8;
    border-radius: 20px;
}

.hack-border {
	border-color: #e8e8e8;
	border-style: solid;
	border-width: 0px 10px;
}

.extra-large {
	font-size: 3rem;
	margin-bottom: 15px;
}

.stat-container {
	display: flex;
	align-items: center;
	margin-top: 30px;
}

p > grey {
	color: grey;
}